/* ---------------- DARK MODE PROPS ----------------*/



.dark-mode .toggle-slider{
    background-color: #fff;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.dark-mode .toggle-button {
    background-color: #9d9d9d;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.dark-mode {
    transition: 0.3s;
    transition-timing-function: ease-in-out;

    background-color: #28282D;
    color: #fff;

}



.dark-mode p{

    color: #fff;}

.dark-mode h2 {

    color: #fff;
}


.dark-mode .siteInfo::before {
    
      background-image: url("icons/logo/protech_large_white.png");
      opacity: 0.05;
}

.dark-mode .subButton {
    background-color: #28282D;
    color: white; 
} 

.dark-mode .readMore {
    background-color: #28282D;
    color: white;
}

.dark-mode .mailSquareContainer {
    background-color: #28282D;
}

.dark-mode .mailIcon {
    content: url('pics/icons/mail-icon-white.svg');
}

body.dark-mode {
    background-image: url('pics/backgrounds/background-mobi-dark.svg');
}

@media screen and (min-width: 750px) {
    body.dark-mode {
        background-image: url('pics/backgrounds/background-desk-dark.svg');
    }
}



.dark-mode .smallBox, .dark-mode .box1, .dark-mode .box2, .dark-mode .box3 {
    background: linear-gradient(to bottom, #002c92 0%, #004bfb 100%);
}  

