@media (min-width: 1050px) {
  /** HEADER FÖR DESKTOP **/

  body {
    background-image: url("pics/backgrounds/background-desk-light.svg");
    background-size: 3000px 3100px;
    background-repeat: no-repeat;
    background-position: center 250%;
    margin: 0;
  }

  header {
    height: 76px;
    background-color: #fff;
    font-size: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .language-toggle {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #fff;
  }

  .language-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
  }

  .language-button:focus {
    outline: none;
  }

  .language-button[selected] {
    font-weight: bold;
  }

  .desktop-nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navVarukorg img,
  .navSearch img {
    width: 23px;
    height: 23px;
  }

  .nav-menu {
    display: none;
  }

  .header-right {
    display: none;
  }

  .preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: relative;
    /* justify-content: center; */
  }

  .carousel {
    width: 700px;
    height: 700px;
    margin-right:107px;
  }

  .carousel-hero-images {
    display: block;
    width: 100%;
    height: auto;
  }

  .carousel-item {
    background-color: #d9d9d9;
    /*gap: 5px;*/
    display: none;
  }


  .carousel-item h1 {
    display: none;
  }

  .carousel-item--selected {
    display: inline-block;
  }

  .siteInfo {
    width: 33%;
    margin-left: 46px;
    margin-right: 46px;
    
    display: flex;
    align-items: center; /* This ensures vertical alignment */
    
    flex-direction: row; 
  }
  .texty {
    align-items: start;
    margin-bottom: 80px;
  }

  .siteInfo h1 {
    display: block;
    align-items: start;
  }

  .siteInfo::before {
    display: block;

    content: "";
    position: absolute;

    width: 40vw;
    height: 100vh;
    background-image: url("icons/logo/protech_large.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    opacity: 0.1; /* adjust as needed */
    z-index: -1;
  }

  

  .arrowContainer {
    margin-top: 50px;
  }

  .sun,
  .moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Example size, adjust as needed */
    height: 20px; /* Example size, adjust as needed */
    object-fit: cover;
    z-index: 1; /* Ensures that the icons are below the slider */
  }

  /** Williams del nedanför */

  .boxContainer {
    display: flex;
    flex-direction: row;
  }

  .box1,
  .box2,
  .box3 {
    width: 350px;
    height: 350px;

    margin-bottom: 20px;
  }

  .box1:hover video,
  .box2:hover video,
  .box3:hover video {
    display: block;
  }

  .box1 img,
  .box2 img,
  .box3 img,
  .mailSquareImg img,
  .box1 video,
  .box2 video,
  .box3 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .smallBoxContainer {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 255px); /* 2 rows with 255px height each */
  }

  .smallBox {
    height: 255px; /* Fixed height for consistency */
    width: 255px;
  }

  .reviewComments {
    flex-direction: row;
  }

  .mailSquareContainer {
    justify-content: space-between;
    min-width: 800px;
  }

  .mailSquareImg img {
    width: 350px;
    height: 350px;

    display: block;
  }

  .mailSquare {
    margin-right: 10px;
    margin-left: 50px;
  }

  .emailPlaceholder {
    width: 300px;
  }

  footer {
    display: flex;
    flex-direction: column;

    height: 258px;
    width: 100%;
  }

  .footerNav {
    display: flex;
    flex-direction: row;

    margin-bottom: 43px;
  }
}
