@media (min-width: 850px) { /** HEADER FÖR DESKTOP **/
    
    body {
        background-image: url('pics/backgrounds/Blobbarbakgrund-desktop.svg');
        background-size: 5000px 3000px;
        background-repeat: no-repeat; 
        background-position: center; 
        margin: 0; 
      
      }
    
    header {
      height: 76px;
      background-color: #fff;
      font-size: 20px;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .siteTitle {
      background-color: lightblue;
      padding: 10px;
      margin-left: 10px;
    }
  
    .desktop-nav-right {
      display: flex;
      align-items: center;
    }
  
    .nav-products {
      padding: 10px;
      background-color: lightgreen;
    }
  
    .desktop-search {
      display: flex;
      align-items: center;
      margin-left: 40px;
      margin-right: 10px;
    }
  
    .nav-menu {
      display: none;
    }
  
    .header-right {
      display: none;
    }

    /** KARUSELL FÖR DESKTOP **/
  
    .preview {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
    }
  
    .carousel-hero-images {
      display: block;
      width: 750px;
      height: auto;
    }
  
    .carousel-item {
      background-color: #d9d9d9;
      height: 75%;
      width: 75%;
      /*gap: 5px;*/
      display:none;
    }
  
    .carousel-item--selected {
      display: inline-block;
    }
  
    .siteInfo {
      width:40%;
      margin-left: 46px;
      margin-right: 100px;

      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    /** Williams del nedanför */

    .boxContainer {
        display: flex;
        flex-direction: row;
    }
    
    .reviewComments { 
        flex-direction: row;
    
        
    }
    
    .mailSquareContainer {
        justify-content: space-around;
    }
    
    .mailSquareImg img {
        width: 350px;
        height: 350px;
        
    
        display: block;
    }
    
    .mailSquare {
       
        margin-left: 50px;
    }
    
    .emailPlaceholder {
        width: 300px;
    }
    
    
    footer {
        display: flex;
        flex-direction: column;
    
        height: 258px;
        width: 100%;
    
        background: #D9D9D9
    }
    
    .footerNav {
        display: flex;
        flex-direction: row;
    
        margin-bottom: 43px;
    }
    
















  }