@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@300;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



* {
    padding: 0;
    margin: 0;

}



body {
    position: relative;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    transition: 0.3s;
    transition-timing-function: ease-in-out;

    background-image: url('pics/backgrounds/Blobbarbakgrund-mobile.svg');
    background-position: center -500px; 
    background-size: 500px 4000px;
    background-repeat: no-repeat;

  margin: 0;
    
    


    background-color: #F9F6ED;
}

  
  @media (min-width: 850px) { /** HEADER FÖR DESKTOP **/
    header {
      height: 76px;
      background-color: #fff;
      font-size: 20px;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .siteTitle {
      background-color: lightblue;
      padding: 10px;
      margin-left: 10px;
    }
  
    .desktop-nav-right {
      display: flex;
      align-items: center;
    }
  
    .nav-products {
      padding: 10px;
      background-color: lightgreen;
    }
  
    .desktop-search {
      display: flex;
      align-items: center;
      margin-left: 40px;
      margin-right: 10px;
    }
  
    .nav-menu {
      display: none;
    }
  
    .header-right {
      display: none;
    }

    /** KARUSELL FÖR DESKTOP **/
  
    .preview {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
    }
  
    .carousel-hero-images {
      display: block;
      width: 750px;
      height: auto;
    }
  
    .carousel-item {
      background-color: #d9d9d9;
      height: 75%;
      width: 75%;
      /*gap: 5px;*/
      display:none;
    }
  
    .carousel-item--selected {
      display: inline-block;
    }
  
    .siteInfo {
      width:40%;
      margin-left: 46px;
      margin-right: 100px;

      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  }
  
  /***** STYLE SOM ÄR SAMMA BÅDE PÅ MOBIL OCH DESKTOP, kmr förbättras ******/
  
  .carousel {
    position: relative;
  }
  
  .carousel-hero-images {
    display: block;
    
    height: auto;

    background-color: #A09D59;
  }
  
  .carousel-nav {
    width:65%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left:0;
    text-align: center;
  }
  
  .carousel-item {
    background-color: #d9d9d9;
    height: auto;
    width: auto;
    /*gap: 5px;*/
    display:none;
  }
  
  .carousel-button {
    width:10px;
    height:10px;
    display: inline-block;
    background: pink;
    border-radius: 50%;
    margin:0 5px;
    cursor: pointer;
  }
  
  .carousel-item--selected {
    display: inline-block;
  }
  
  .carousel-button--selected {
    background-color: darkorchid;
  }
  
  .siteInfo {
    background-color: lightgreen;
    /*width: 50%;*/
    margin-right: 3px;
  }
  .siteInfo h1{
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .texty {
    color: var(--greybox-grey, var(--Svart, #28282D));
    /* Desktop/Brödtext */
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
  
  .tillfalligtnamn { /*Paxar space för scroll-pil-knappen, ev inte aktuell för desktop? Men jag tar bort det sen isf*/
    padding:40px;
  }

  .readMore {
    display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  /* position: relative; */
  background-color: #ffffff;
  border: 4px solid #F7969E;
  box-shadow: 0px 4px #d0d0d0;
  border-radius: 10px;
  gap: 4px;
  cursor: pointer;

  
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  }
  
  @media (max-width: 850px) { /** HEADER FÖR MOBIL **/
    /*Ändra size sen*/
    header {
      height: 85px;
      /*gap: 120px;*/
      width: 100%;
      background-color: #ffffff;
    }
  
    .desktop-nav-right {
      display: none;
    }
  
    header .navbar {
      /*gap: 120px;*/
      top: 47px;
      left: 3px;
      /*left:20px;*/
      align-items: center;
      justify-content: space-between;
      position: relative;
      display: inline-flex;
      flex-direction: row;
      width: 100%;
    }
  
    header .siteTitle {
      /*Flytta texten sen*/
      position: relative;
      width: fit-content;
      margin-top: 0;
      margin-left: 20px;
      font-size: 1.7rem;
      white-space: nowrap;
    }
  
    .header-right {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

    
    }
  
    header .menyOptions {
      /*Söknings-knapp*/
      /*Förenkla detta selma*/
      gap: 8px;
      /*flex: 0 0 auto;*/
      display: inline-flex;
      align-items: flex-start;
      /*position: relative;*/
    }
  
    header .search {
      position: relative;
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }

    nav  {
      color: var(--greybox-grey, var(--Svart, #28282D));
      text-align: right;
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  

    /** BURGER MENU STYLE O ALLT VAD DET INNEBÄR **/
    .nav-menu {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 70%;
      transition: 0.5s ease;
      background-color: slategray;
      z-index: 1;
    }
  
    .nav-item {
      margin: 16px 0;
    }
  
    .nav-menu.active {
      right: 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: beige;
      padding: 30px;
      /*height: 844px;*/
      width: 70%;
      font-size: 18px;
      border-bottom: 1px slategray;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif; /*ändra detta selma*/
    }
  
    .h1Meny {
      font-size: 34px;
      margin-bottom: 20px;
      margin-top: 16px;
    }
  
    .nav-link {
      /*lägga till kant på botten selma*/
      transition: 0.7s ease;
    }
  
    .nav-link,
    a:link {
      text-decoration: none;
    }
  
    .nav-link,
    a:visited {
      text-decoration: none;
    }
  
    .nav-link,
    a:hover {
      text-decoration: none;
    }
  
    .nav-link,
    a:active {
      text-decoration: none;
    }
  
    .hamburger {
      display: block;
      margin-right: 20px;
      cursor: pointer;
      z-index: 2;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #373737;
    }
  
    li {
      list-style: none;
    }
  
    /*KARUSELL FÖR MOBIL*/
    .carousel-item {
      /*Kolla så sizen är korrekt i mobilformat*/
      background-color: #d9d9d9;
      height: auto;
      width: 100%;
    }
  
    .carousel-hero-images {
      display: block;
      width:100%;
      height: auto;
    }
  
    /*TEXT TILL KARUSELL, MOBIL*/
    .siteInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      /*padding: 10px;*/
      gap: 4px;
    }
  
    .siteInfo h1 {
      display: none;
    }
  
    .texty {
      height: 105px;
      width: 90%;
      padding: 4px;
  
      font-size: 16px;
      color: #373737;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
  
    .button { /* byt namn till något mer specifikt selma */
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 16px 24px;
      /*position:relative;*/
      background-color: #ffffff;
      border: 4px solid black;
      box-shadow: 0px 4px #d0d0d0;
      border-radius: 10px;
      gap: 4px;
      cursor: pointer;
    }
  
    
  }

  
  


/* -------- DARK MODE KNAPP ------------- */

.toggle-button {
    width: 60px; 
    height: 30px; 
    background-color: #ddd; 
    border-radius: 15px; 
    position: relative; 
    cursor: pointer; 

    transition: 0.3s;
    transition-timing-function: ease-in-out;


    margin-bottom: 50px;
}

.toggle-slider {
    width: 22px; 
    height: 22px; 
    background-color: #474747; 
    
    position: absolute;
    top: 4px; 
    left: 7px; 
    border-radius: 50%; 
    transition: 0.3s; 
}




/* ---------------- KATEGORI-BOXAR ----------------*/

.boxContainer {
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    margin-bottom: 20px;
}



.box1, .box2, .box3 {
    background-color: #D9D9D9;
    width: 350px;
    height: 350px;
    position: relative;
}

.box1 img, .box2 img, .box3 img, .mailSquareImg img,
.box1 video, .box2 video, .box3 video {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.box1 video, .box2 video, .box3 video {
    display: none;
}

.box1:hover video, .box2:hover video, .box3:hover video {
    display: block;
}

.box1:hover img, .box2:hover img, .box3:hover img {
    display: none;
}

.category-text {
    position: absolute;  
    color: white; 
    font-weight: bold; 
    
}

.box1, .box2, .box3, p{
    color: #393939;
    font-family: Raleway;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.moreProducts p{
    
    font-family: Raleway;
    font-size: 16px;
    color: #000;
    text-decoration-line: underline;

    margin-bottom: 65px;


}

.moreProducts{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
}



/* ---------------- Review kommentarer ----------------*/

.reviewComments {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;

    
}

.commentOne, .commentTwo, .commentThree {
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.reviewParagraph {

    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    width: 180px;

    margin-bottom: 16px;

    text-align: center;
}

.reviewTitle {
    font-family: Raleway;
    font-size: 19px;
    font-weight: 400;



    margin-bottom: 46px;
}






/* ------------ STATISK "POP UP" RUTA ----------------*/

.mailSquareContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    
    width: 60%;
    height: 260,27px;
    background-color: #c2c2c2;
    margin-bottom: 26px;

    border-radius: 9px;
    border: 4px solid #000;
    background: var(--greybox-white, #FFF);
}

.mailSquare {
    width: auto;
    text-align: center;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mailSquare img{
    width: 53px;
    height: 53px;

    margin-top: 50px;
    
}

.mailText h2 {
    font-size: 16px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.mailText p {
    width: 212px;
    height: 46px;

    font-family: IBM Plex Sans;
    font-size: 12px;
}

.emailPlaceholder {
    width: 75%;
    height: 41px;

    background-color: #EDEBEB;

    margin-bottom: 10px;
    
}

.subButton {

    width: auto;
    padding: 10px;
    height: 38px;
    
    border-radius: 4px;
    border: #000;
    background-color: #FFFFFF;

    margin-bottom: 50px;

    border-radius: 4px;
    border: 4px solid #000;
    background: var(--greybox-white, #FFF);
}

.subButton p{
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 14px;
}

.subButton:hover {
/* sätt in hover */
scale: 1.05;
transition: 0.3s;
transform: ease-in-out;
}


.mailSquareImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailSquareImg img {
    width: 200px;
    height: 200px;

    margin-right: 30px;
    

    display: none;
}




/* ---------------- FOOTER ----------------*/ 
footer {
    height: 258px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    background: #D9D9D9;
}

footer a:visited {
    color: #000;

}

.footerNav {
    display: flex;
    flex-direction: column;

    margin-bottom: 26px;

    gap: 22px;
}

.footerNav .kontakt, .faq, .leverans, .villkor {
    color: #000;

    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footerSocials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerSocials img{
    width: 24px;
    height: 24px;

    padding-left: 5px;
    padding-right: 5px;
}


/* ---------------- MEDIA QUERIES DESKTOP ----------------*/

@media screen and (min-width: 1085px) {

  body {
    background-image: url('pics/backgrounds/Blobbarbakgrund-desktop.svg');
    background-size: 5000px 3000px;
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0; 
  
  }

  

.boxContainer {
    display: flex;
    flex-direction: row;
}

.reviewComments { 
    flex-direction: row;

    
}

.mailSquareContainer {
    justify-content: space-around;
}

.mailSquareImg img {
    width: 350px;
    height: 350px;
    

    display: block;
}

.mailSquare {
   
    margin-left: 50px;
}

.emailPlaceholder {
    width: 300px;
}


footer {
    display: flex;
    flex-direction: column;

    height: 258px;
    width: 100%;

    background: #D9D9D9
}

.footerNav {
    display: flex;
    flex-direction: row;

    margin-bottom: 43px;
}
.footerSocials {
   
}





















/* ---------------- DARK MODE PROPS ----------------*/



.dark-mode .toggle-slider{
    background-color: #fff;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.dark-mode .toggle-button {
    background-color: #9d9d9d;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.dark-mode {
    transition: 0.3s;
    transition-timing-function: ease-in-out;

    background-color: #262626;
    color: #fff;

}

.dark-mode p{

    color: #fff;}

.dark-mode .mailText p{
    color: #000;
}

.dark-mode .subButton p {
    color: #000; 
} 

  }